$white: #FFFFFF;
$black: #000000;
$accent: #FF0000;
$card: #1B1C21;

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);

@keyframes strokeanim {
  to { stroke-dashoffset: 0; }
}
