@import 'components/reset';
@import 'components/vars';
@import 'components/fonts';
@import 'components/global';
@import 'components/libs';
@import 'components/mixin';
@import 'components/header';
@import 'components/select';
@import 'components/bread-crumbs';
@import 'components/delivery';
@import 'components/contacts';
@import 'components/about';
@import 'components/page-404';

.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 530px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 45px;
  }

  &__item {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
  }

  &__text {

    p {
      max-width: 350px;
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 25px;
    }
  }

  &__btn {
    width: 238px;
    padding: 17px 0;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__parallax {
    position: relative;
    width: 600px;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.kitchen {
  text-align: center;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__item {
    font-weight: 500;
    font-size: 20px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__btn {
    padding: 15px 74px;
    border-color: $white;
    text-transform: none;
    background-color: transparent;
    transition: border-color 0.5s;

    &:hover {
      border-color: $accent;
    }
  }
}

.popular {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    margin-bottom: 60px;
  }
}

.sets,
.rolls,
.burgers {
  display: none;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 350px;
  height: 100%;
  margin: auto;
  padding: 0 25px 25px;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 125px);
    background: #1b1c21;
    border-radius: 15px;
  }

  &--resize {
    &::after {
      height: calc(100% - 85px);
    }
  }

  &__link {
    align-self: center;
  }

  &__img {
    margin-bottom: 10px;
    transition: transform 0.7s;

    &--rotate {
      &:hover {
        transform: translateZ(0) scale(1.1, 1.1) translateY(-10px) rotate(-7deg);
      }
    }

    &--scale {
      &:hover {
        transform: translateZ(0) scale(1.1, 1.1);
      }
    }
  }

  &__title {
    min-height: 48px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    @include line-clamp(2);
  }

  &__description {
    flex: 1;

    p {
      max-height: 85px;
      margin-bottom: 25px;
      color: $description;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      @include line-clamp(5);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
  }

  &__weight {
    color: #767983;
  }

  &__btn {
    align-self: center;
  }
}





:root {
  --swiper-theme-color: #FFFFFF;
}

.slider {
  max-width: 545px;
  border-radius: 10px;

  &__prev {
    padding-right: 2px;
  }

  &__next {
    padding-left: 2px;
  }

  &__prev,
  &__next {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: #2E2F37;
  }

  &__prev::after,
  &__next::after {
    font-size: 14px;
    font-weight: 900;
  }
}



@import 'components/footer';