@import 'components/reset';
@import 'components/mixin';
@import 'components/vars';
@import 'components/fonts';
@import 'components/global';
@import 'components/libs';
@import 'components/header';
@import 'components/select';
@import 'components/bread-crumbs';
@import 'components/delivery';
@import 'components/contacts';
@import 'components/about';
@import 'components/stoke';
@import 'components/modal';
@import 'components/page-404';



.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;

  @include mq('tablet-2') {
    min-height: calc(100vh - 100px);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet-2') {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    max-width: 530px;

    @include mq('tablet-2') {
      max-width: 600px;
    }
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 45px;
    line-height: 1.2;

    @include mq('desktop') {
      margin-bottom: 25px;
      font-size: calc(20px + (45 - 20) * ((100vw - 320px) / (1200 - 320)));
    }

    @include mq('tablet-2') {
      font-size: 45px;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;

    @include mq('desktop') {
      font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1200 - 320)));
    }

    @include mq('tablet-2') {
      font-size: 55px;
    }
  }

  &__text {

    p {
      max-width: 350px;
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 25px;
      line-height: 1.2;

      @include mq('desktop') {
        font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1200 - 320)));
      }

      @include mq('tablet-2') {
        max-width: 100%;
        margin-bottom: 30px;
        font-size: 30px;
      }
    }
  }

  &__nav {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    width: 238px;
    padding: 17px 0;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

    @include mq('tablet-2') {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include mq('tablet-2') {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    // &--visit {
    //   @include mq('tablet-2') {
    //     display: none;
    //   }
    // }
  }

  &__parallax {
    position: relative;
    object-fit: cover;
    max-width: 600px;
    max-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('tablet') {
      max-width: 550px;
      max-height: 550px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.kitchen {
  text-align: center;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__item {
    font-weight: 500;
    font-size: 20px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__btn {
    padding: 15px 74px;
    border-color: $white;
    text-transform: none;
    background-color: transparent;
    transition: border-color 0.5s;

    &:hover {
      border-color: $accent;
    }
  }
}

.popular {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    margin-bottom: 60px;
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 350px;
  height: 100%;
  margin: auto;
  padding: 0 25px 25px;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 125px);
    background: $card;
    border-radius: 15px;
  }

  &--resize {
    &::after {
      height: calc(100% - 85px);
    }
  }

  &__link {
    align-self: center;
  }

  &__img {
    max-width: 240px;
    min-height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.7s;

    &--rotate {
      &:hover {
        transform: translateZ(0) scale(1.1, 1.1) translateY(-10px) rotate(-7deg);
      }
    }

    &--scale {
      &:hover {
        transform: translateZ(0) scale(1.1, 1.1);
      }
    }
  }

  &__title {
    min-height: 48px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    @include line-clamp(2);
  }

  &__description {
    flex: 1;

    p {
      max-height: 85px;
      margin-bottom: 25px;
      color: $description;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      @include line-clamp(5);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
  }

  &__weight {
    color: #767983;
  }

  &__btn {
    align-self: center;
  }
}

:root {
  --swiper-theme-color: #FFFFFF;
}

.slider {
  position: relative;

  &__swiper {
    max-width: 545px;
    border-radius: 10px;
  }

  &__prev {
    left: 0;
    padding-right: 2px;
    transform: translate(-50%, -50%);
  }

  &__next {
    right: 0;
    padding-left: 2px;
    transform: translate(50%, -50%);
  }

  &__prev,
  &__next {
    position: absolute;
    width: 44px;
    height: 44px;
    margin-top: 0;
    border-radius: 100%;
    background-color: #2E2F37;
  }

  &__prev::after,
  &__next::after {
    font-size: 14px;
    font-weight: 900;
  }
}



@import 'components/footer';