.about {
  padding-bottom: 60px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet') {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &--reuse {

      @include mq('tablet') {
        flex-direction: column-reverse;
      }

    }
  }

  &__advantages {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;

    
  }

  &__item {
    color: $accent;
  }

  &__text {
    
    p {
      max-width: 600px;
      font-size: 16px;

      @include mq('tablet-2') {
        font-size: 14px;
      }

      @include mq('tablet') {
        margin-bottom: 30px;
      }


      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__inner {
    min-width: 470px;

    @include mq('tablet') {
      min-width: 0;
      align-self: start;
    }

    &--right {
      margin-right: 30px;

      @include mq('tablet') {
        margin-right: 0;
      }
    }

    &--left {
      margin-left: 30px;

      @include mq('tablet') {
        margin-left: 0;
      }
    }
  }

  &__img {
    max-width: 405px;
    max-height: 545px;

    img {
      object-fit: cover;
    }
  }

}