.footer {
  padding: 45px 0 30px;
  background-color: $card;
}

.footer-logo {
  &__img {
    margin-bottom: 30px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  // @include mq('desktop') {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, 1fr);
  //   justify-content: space-between;
  // }


  &__content {

    @include mq('desktop') {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__about {

    p {
      max-width: 250px;
      line-height: 1.4;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  span {
    display: block;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}

.networks {
  display: flex;

  &__social {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: box-shadow 0.5s, transform 0.7s;

    &:hover {
      transform: rotate(360deg);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($white, 0.7);
    }

    &:active {
      color: $white;
      opacity: 0.5;
      box-shadow: none;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: $white;
    }

    &--facebook {
      background-color: #1877F2;

      &:hover {
        box-shadow: (0 0 5px #1877F2);
      }
    }

    &--instagram {
      background-color: #F00073;

      &:hover {
        box-shadow: (0 0 5px #F00073);
      }
    }

    &--telegram {
      background-color: #0088CC;

      svg {
        margin-left: -2px;
        width: 18px;
        height: 15px;
      }

      &:hover {
        box-shadow: (0 0 5px #0088CC);
      }
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 10px;
  }

  &__link {
    color: #828282;
    font-size: 10px;
    border-bottom: 1px solid #828282;
    transition: border-color 0.5s;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      border-radius: 5px;
      border-color: transparent;
    }

    &:active {
      color: $white;
      opacity: 0.3;
      box-shadow: none;
    }
  }
}