html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $white;
  background-color: #14151A;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &--resize {
    @include mq('desktop') {
      max-width: 1230px;
      padding: 0;
    }

    @include mq('tablet-2') {
      max-width: 1200px;
      padding: 0 15px;
    }
  } 
}

.lock {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: -99;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.7s ease;

  &--active {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.section {
  padding-top: 60px;

  @include mq('phone') {
    padding-top: 40px;
  }


}

.animation {
  transition: color 0.6s;

  &:hover {
    color: $accent;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    border-radius: 5px;
  }

  &:active {
    color: $white;
    opacity: 0.5;
    box-shadow: none;
  }
}

// .active {
//   color: $accent;
//   border-bottom: 2px solid $accent;
// }

.button {
  display: inline-block;
  padding: 12px 70px;
  border-radius: 50px;
  border: 3px solid $accent;
  text-transform: uppercase;
  color: $white;
  background-color: $accent;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 20px #FF0606;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($white, 0.7);
    border-radius: 50px;
  }

  &:active {
    color: $white;
    opacity: 0.5;
    box-shadow: none;
  }
}

.button-nav {
  display: inline-block;
  padding: 5px 20px;
  border: 3px solid $accent;
  border-radius: 50px;
  color: $white;
  background-color: transparent;
  transition: box-shadow 0.5s, background-color 0.6s;

  &:hover {
    box-shadow: 0 0 20px #FF0606;
    background-color: #FF0606;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($white, 0.7);
    border-radius: 50px;
  }

  &:active {
    color: $white;
    opacity: 0.5;
    box-shadow: none;
  }
}

.title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;

  @include mq('phone') {
    margin-bottom: 40px;
    font-size: 27px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

// ::-webkit-scrollbar {
//   width: 7px;

//   @include mq('tablet-2') {
//     width: 4px;
//     height: 4px;
//   }
// }

// ::-webkit-scrollbar-track {
//   border-radius: 15px;
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 15px;
//   background-color: #356184;
// }

// .form__list::-webkit-scrollbar {
//   width: 3px;
// }

// .form__list::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// .form__list::-webkit-scrollbar-thumb {
//   background-color: #356184;
// }

.fade {
  animation-name: fade;
  animation-duration: 0.8s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}



