.header {
  padding-top: 30px;

  &__menu {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



.menu {

  @include mq('tablet-2') {
    
    height: calc(100% + 1px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.7s ease;
    
    &--active {
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__logo {


    // max-width: 140px;
    @include mq('tablet-2') {
      display: inline-block;
    }
  }

  &__list {
    display: flex;

    @include mq('tablet-2') {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      overflow: auto;
      width: 90%;
      background-color: $card;
      transform: translateX(-200%);
      transition: transform 0.7s;

      &--active {
        transform: translateX(0);
      }
    }
  }

  &__item {

    @include mq('tablet-2') {
      padding: 15px 22px;
    }

    &:last-child,
    &:first-child {
      display: none;

      @include mq('tablet-2') {
        display: block;
      }
    }

    &:first-child {
      padding: 30px 22px;
    }

    &:last-child {
      @include mq('tablet-2') {
        padding: 30px 22px;
        text-align: center;
      }
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include mq('desktop') {
        margin-right: 20px;
      }

      @include mq('tablet-2') {
        margin-right: 0;
        border-bottom: 1px solid #4C4E5B;
      }
    }

    &--sub {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../images/icons/icon-drop.svg');
        width: 12px;
        height: 7px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        background-repeat: no-repeat;
        opacity: 0.5;
        transition: all 0.2s;
      }
    }
  }

  &__link {
    font-size: 20px;

    @include mq('tablet-2') {
      display: block;
    }
  }

  &__btn {
    width: 90%;
    padding: 17px 22px;
    font-size: 20px;
  }
}

.sub-menu {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 70px;
  max-height: 0;
  overflow: hidden;
  transition: all .5s;

  &__list {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $card;
    border-radius: 10px 10px 50px 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;

    svg {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
      fill: $white;
      transition: fill 0.5s;
    }

    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
}

.down {
  max-height: 150px
}

.user-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 30px;

      @include mq('desktop') {
        margin-right: 20px;
      }

      @include mq('tablet-2') {
        margin-right: 30px;
      }
    }

    &:first-child {
      @include mq('tablet-2') {
        margin-left: 30px;
      }
    }

    &:last-child {
      @include mq('tablet-2') {
        display: none;
      }
    }
  }

  &__wrapper {
    // width: 40px;
    // height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    position: relative;

    svg {
      fill: white;
    }

    &--search {
      svg {
        width: 25px;
        height: 25px;
      }
    }

    &--cart {
      svg {
        width: 22px;
        height: 25px;
      }
    }
  }

  &__num {
    position: absolute;
    bottom: -2px;
    right: -7px;
    padding: 1px 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    color: $white;
    background-color: $accent;
  }
}

.burger {
  z-index: 11;
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  @include mq('tablet-2') {
    display: block;
  }

  span {
    &:first-child {
      transform: translateY(-4px);
    }

    &:last-child {
      transform: translateY(4px);
    }
  }

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background: $white;
    transition: all 0.4s ease-in-out;
    border-radius: 4px;
  }

  &--active {
    transform: rotate(180deg);
    top: 1px;

    span {
      &:first-child {
        transform: translateY(1px) rotate(-45deg)
      }

      &:last-child {
        transform: translateY(1px) rotate(45deg)
      }
    }
  }
}

// .overlay {
//   z-index: 10;
//   // position: absolute;
//   height: calc(100% + 1px);
//   width: 100%;
//   top: 0;
//   left: 0;
//   transition: background-color 0.7s ease;

//   &--active {
//     background-color: rgba(0, 0, 0, 0.5);
//   }

// }


// .side-nav {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 90%;
//   overflow: auto;
//   background-color: $card;
//   transform: translateX(-200%);
//   transition: transform 0.7s;

//   &--active {
//     transform: translateX(0);
//   }

//   &__top {
//     padding: 32px 0 22px 22px;
//     border-bottom: 1px solid #4C4E5B;
//   }

//   &__logo {
//     display: inline-block;
//   }

//   &__img {
//     max-width: 140px;
//   }

//   &__menu {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 32px;
//   }

//   &__item {
//     padding: 15px 22px;
//     border-bottom: 1px solid #4C4E5B;

//     &:not(:last-child) {
//       margin-right: 0px;
//     }

//     &--sub {
//       position: relative;

//       &::after {
//         position: absolute;
//         content: '';
//         background-image: url('../images/icons/icon-drop.svg');
//         width: 12px;
//         height: 7px;
//         top: 26px;
//         right: 20px;
//         transform: rotate(-90deg);
//         background-repeat: no-repeat;
//         opacity: 0.5;
//         transition: all 0.2s;
//       }
//     }
//   }

//   &__inner {
//     padding: 0 22px;
//     text-align: center;
//   }

//   &__btn {
//     width: 70%;
//     padding: 11px;
//     font-size: 20px;

//     @include mq('phone') {
//       width: 100%;
//     }
//   }
// }