.page-404 {
  text-align: center;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__img {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__text {
    max-width: 430px;
    text-align: left;
  }

  &__item {
    font-size: 50px;
    font-weight: 600;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
  }
}