.order {
  padding-bottom: 60px;

  @include mq('desktop') {
    padding-bottom: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('desktop') {
      display: block;
    }
  }

  &__table {
    max-width: 545px;
    width: 100%;

    padding: 35px 25px;
    background-color: $card;
    border-radius: 10px;

    @include mq('desktop') {
      max-width: 90%;
      margin: 0 auto;
    }

    @include mq('tablet-2') {
      max-width: 100%;
    }

    @include mq('phone') {
      padding: 25px 25px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 29px;
    text-align: left;
    font-size: 10px;
    opacity: 0.7;

    @include mq('desktop') {
      text-align: center;
    }
  }

  &__btn {
    width: 100%;

    @include mq('desktop') {
      width: 70%;
    }

    @include mq('tablet') {
      width: 100%;
    }

    @include mq('phone') {
      padding: 12px 45px;
    }
  }
}

.form {
  text-align: center;

  &__top,
  &__bottom {
    display: flex;

    @include mq('tablet') {
      flex-direction: column;
    }
  }

  &__col {
    width: 235px;

    @include mq('desktop') {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 25px;

      @include mq('tablet') {
        margin-right: 0;
      }
    }

    &--top {
      margin-bottom: 30px;

      @include mq('phone') {
        margin-bottom: 25px;
      }
    }

    &--bottom {
      width: 148px;
      margin-bottom: 30px;

      @include mq('desktop') {
        width: 100%;
      }

      @include mq('phone') {
        margin-bottom: 25px;
      }
    }
  }

  &__span {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;

    &::after {
      content: "*";
      color: $accent;
    }
  }

  &__select {
    position: relative;
  }

  &__input {
    padding: 20px 10px 19px 20px;
    border: none;
    border-radius: 15px;
    color: $white;
    background-color: #2E2F37;

    &--top,
    &--bottom {
      width: 100%;
      appearance: none;
    }
  }

  &__button {
    position: relative;
    width: 148px;
    text-align: left;
    cursor: pointer;

    @include mq('desktop') {
      width: 100%;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/icons/icon-drop.svg');
      width: 12px;
      height: 7px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      opacity: 0.5;
      transition: all 0.2s;
    }

    &--active {
      border-radius: 15px 15px 0 0;

      &::after {
        top: 44%;
        transform: rotate(-90deg);
      }
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: -1px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    transition: height .2s ease;

    &:not(.active) {
      display: none;
    }

    &--active {
      // display: block;
      border-top: 1px solid #4c4e5b;
    }
  }

  &__list {
    max-height: 220px;
    background-color: #2E2F37;
    scroll-snap-type: y mandatory;
    overflow: auto;
  }

  &__option {
    padding: 19px 10px 20px 20px;
    cursor: pointer;
    scroll-snap-align: start;

    &:not(:last-child) {
      border-bottom: 1px solid #4c4e5b;
    }

    &:hover {
      background-color: $accent;
    }

    &--active {
      background-color: $accent;
    }
  }
}