
  <ul class="filter">
    <li class="filter__item">
      <button data-filter="all" type="button" class="filter__btn filter__btn--all filter__btn--active button">
        Все</button>
    </li>
    <li class="filter__item">
      <button data-filter="hot" type="button" class="filter__btn filter__btn--hot button">
        Острые</button>
    </li>
    <li class="filter__item">
      <button data-filter="vegan" type="button" class="filter__btn filter__btn--vegan button">
        Вегетарианские</button>
    </li>
  </ul>