<header class="header">
  <div class="container">
    <nav class="header__menu">

      <a class="logo animation" href="index.html">
        <img class="logo__img" src="images/icons/logo.svg" alt="Логотип">
      </a>

      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link animation" href="stock.html">Акции</a>
        </li>
        <li class="menu__item menu__item--sub">
          <a class="menu__link menu__link--click animation" href="#">Меню</a>


          <div class="sub-menu" id="sub-menu">
            <ul class="sub-menu__list">
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-pizza"></use>
                  </svg>
                  Пицца
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-set"></use>
                  </svg>
                  Сеты
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-roll"></use>
                  </svg>
                  Роллы
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-burger"></use>
                  </svg>
                  Бургеры
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-pasta"></use>
                  </svg>
                  Паста
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-salad"></use>
                  </svg>
                  Салаты
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-snack"></use>
                  </svg>
                  Снэки
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-cake"></use>
                  </svg>
                  Десерты
                </a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link animation" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#icon-drink"></use>
                  </svg>
                  Напитки
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="delivery.html">Доставка</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="contacts.html">Контакты</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="about.html">О нас</a>
        </li>
      </ul>

      <ul class="user-nav">
        <li class="user-nav__item">
          <button class="user-nav__btn user-nav__btn--search">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
            <span class="sr-only">Кнопка поиска</span>
          </button>
        </li>
        <li class="user-nav__item">
          <button class="user-nav__btn user-nav__btn--cart">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="user-nav__num">0</span>
            <span class="sr-only">Кнопка корзины товаров</span>
          </button>
        </li>
        <li class="user-nav__item">
          <button class="user-nav__btn button-nav" type="button">
            Вход
            <span class="sr-only">Кнопка входа в аккаунт</span>
          </button>
        </li>
      </ul>
    </nav>

  </div>
</header>