<header class="header">

  <div class="container">
    <nav class="header__menu">

      <a class="logo animation" href="index.html">
        <img class="logo__img" src="images/icons/logo.svg" alt="Логотип">
      </a>

      <div class="menu">



        <ul class="menu__list">

          <li class="menu__item">
            <a class="menu__logo animation" href="index.html">
              <img class="logo__img" src="images/icons/logo.svg" alt="Логотип">
            </a>

          </li>


          <li class="menu__item">
            <a class="menu__link animation" href="stock.html">Акции</a>
          </li>
          <li class="menu__item menu__item--sub">
            <a class="menu__link menu__link--click animation" href="#">Меню</a>

            <div class="sub-menu" id="sub-menu">
              <div class="container">
                <ul class="sub-menu__list">
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-pizza"></use>
                      </svg>
                      <span class="sub-menu__name">Пицца</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-set"></use>
                      </svg>
                      Сеты
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-roll"></use>
                      </svg>
                      <span class="sub-menu__name">Роллы</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-burger"></use>
                      </svg>
                      <span class="sub-menu__name">Бургеры</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-pasta"></use>
                      </svg>
                      <span class="sub-menu__name">Паста</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-salad"></use>
                      </svg>
                      <span class="sub-menu__name">Салаты</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-snack"></use>
                      </svg>
                      <span class="sub-menu__name">Снэки</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-cake"></use>
                      </svg>
                      <span class="sub-menu__name">Десерты</span>
                    </a>
                  </li>
                  <li class="sub-menu__item">
                    <a class="sub-menu__link animation" href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-drink"></use>
                      </svg>
                      <span class="sub-menu__name">Напитки</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link animation" href="delivery.html">Доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link animation" href="contacts.html">Контакты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link animation" href="about.html">О нас</a>
          </li>

          <li class="menu__item">
            <button class="user-nav__btn button-nav menu__btn" type="button">
              Вход
              <span class="sr-only">Кнопка входа в аккаунт</span>
            </button>
          </li>
        </ul>

       
      </div>


      <div class="user-nav">
        <ul class="user-nav__list">
          <li class="user-nav__item">
            <div class="user-nav__wrapper">
              <button class="user-nav__btn user-nav__btn--search">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-search"></use>
                </svg>
                <span class="sr-only">Кнопка поиска</span>
              </button>
            </div>
          </li>

          <li class="user-nav__item">
            <div class="user-nav__wrapper">
              <button class="user-nav__btn user-nav__btn--cart">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="user-nav__num">0</span>
                <span class="sr-only">Кнопка корзины товаров</span>
              </button>
            </div>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__btn button-nav" type="button">
              Вход
              <span class="sr-only">Кнопка входа в аккаунт</span>
            </button>
          </li>
        </ul>

        <div class="user-nav__wrapper">
          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Открыть меню</span>
            <span class="burger__line"></span>
          </button>
        </div>
      </div>
    </nav>


    <!-- <div class="overlay">

      <div class="side-nav">

        <div class="side-nav__top">
          <a class="side-nav__logo animation" href="index.html">
            <img class="side-nav__img logo__img" src="images/icons/logo.svg" alt="Логотип">
          </a>
        </div>


        <ul class="menu side-nav__menu">
          <li class="menu__item side-nav__item">
            <a class="menu__link animation" href="stock.html">Акции</a>
          </li>
          <li class="menu__item menu__item--sub side-nav__item side-nav__item--sub">
            <a class="menu__link menu__link--click animation">Меню</a>

            <div class="sub-menu side-nav__sub">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-pizza"></use>
                    </svg>
                    <span class="sub-menu__name">Пицца</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-set"></use>
                    </svg>
                    Сеты
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-roll"></use>
                    </svg>
                    <span class="sub-menu__name">Роллы</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-burger"></use>
                    </svg>
                    <span class="sub-menu__name">Бургеры</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-pasta"></use>
                    </svg>
                    <span class="sub-menu__name">Паста</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-salad"></use>
                    </svg>
                    <span class="sub-menu__name">Салаты</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-snack"></use>
                    </svg>
                    <span class="sub-menu__name">Снэки</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cake"></use>
                    </svg>
                    <span class="sub-menu__name">Десерты</span>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link animation" href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-drink"></use>
                    </svg>
                    <span class="sub-menu__name">Напитки</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item side-nav__item">
            <a class="menu__link animation" href="delivery.html">Доставка</a>
          </li>
          <li class="menu__item side-nav__item">
            <a class="menu__link animation" href="contacts.html">Контакты</a>
          </li>
          <li class="menu__item side-nav__item">
            <a class="menu__link animation" href="about.html">О нас</a>
          </li>
        </ul>
        <div class="side-nav__inner">


          <button class="side-nav__btn button-nav" type="button">
            Вход
            <span class="sr-only">Кнопка входа в аккаунт</span>
          </button>
        </div>



      </div>
    </div> -->


  </div>
</header>